* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

body {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: #FAFAFA;
}

#wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 3px;
}

#phones-ilustrations {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
}

.phones-background {
    display: flex;
    justify-content: space-between;
    width: 454px;
    height: 618px;
    background: url("./images/instagram-cellphones.png");
    background-size: 454px 618px;
    margin-right: -30px;
}

.phone-slider {
    position: relative;
    overflow: hidden;
}

.image-slider {
    margin: 99px 0 0 151px;
    width: 240px;
    height: 427px;
    animation: slide 5s infinite;
}

.image-slider:nth-child(1) {
    animation-delay: 5s;
}

.image-slider:nth-child(2) {
    animation-delay: 10s;
}

.image-slider:nth-child(3) {
    animation-delay: 15s;
}

@keyframes slide {
    25% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 22rem;
}

.form-group {
    background: #FFF;
    border: 1px solid #D3D3D3;
    border-radius: 1px;
    padding-top: 15px;
    margin-bottom: 10px;
}

.word-instagram {
    width: 180px;
    display: block;
    margin: 15px auto 20px auto;
}

input {
    width: 265px;
    background-color: #FAFAFA;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    text-align: start;
    padding: 11px 0 9px 10px;
}

.input-user-data {
    margin: 3px;
}


/* input::placeholder - Selects input elements with the "placeholder" attribute specified*/

input::placeholder {
    font-size: 12px;
    color: #8E8E8E;
}

input,
button {
    margin: 0.3rem 0;
}

#btn-login {
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    background-color: #B2DFFC;
    font-weight: 500;
    font-size: 15px;
    margin-top: 10px;
    width: 268px;
    height: 30px;
}

.separator {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.separator div:nth-child(2) {
    color: #8E8E8E;
    font-weight: 400;
    padding: 0 1.35rem;
}

.separator div:nth-child(1),
.separator div:nth-child(3) {
    border: solid 1px #dbdbdb;
    width: 100px;
}

#facebook-login-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2.5rem;
}

.facebook-icon {
    width: 16px;
    height: 16px;
}

.login-with-facebook {
    color: #385185;
    font-size: 14px;
    font-weight: 600;
}

.forgot-password {
    color: #385185;
    font-size: 12px;
    text-align: center;
}

.sign-up {
    height: 30px;
    font-size: 14px;
    text-align: center;
    margin: 10px;
}

.sign-up-btn {
    color: #0095F6;
    font-weight: 500;
}

#footer {
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}

#footer p {
    color: #262626;
    height: 18px;
}

.get-the-app-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.appstore-icon,
.google-play-icon {
    width: 130px;
    height: 40px;
}

.appstore-icon {
    padding-right: 8px;
}